* {
  padding: 0;
  margin: 0; }

html {
  font-size: 14px;
  font-family: 'Hind', sans-serif; }

body {
  background-color: #151515; }

.NAME-OF-PAGE-With-sidebar {
  display: grid;
  grid-template-rows: 70px auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "header header header" "main main aside" "footer footer footer"; }
  @media (max-width: 768px) {
    .NAME-OF-PAGE-With-sidebar {
      display: block; } }
  @media (max-width: 480px) {
    .NAME-OF-PAGE-With-sidebar {
      display: block; } }
  .NAME-OF-PAGE-With-sidebar header {
    grid-area: header; }
  .NAME-OF-PAGE-With-sidebar main {
    grid-area: main; }
  .NAME-OF-PAGE-With-sidebar aside {
    grid-area: aside; }
  .NAME-OF-PAGE-With-sidebar footer {
    grid-area: footer; }

.home-page {
  display: grid;
  grid-template-rows: 70px auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "header header header" "main main main" "footer footer footer"; }
  @media (max-width: 768px) {
    .home-page {
      display: block; } }
  @media (max-width: 480px) {
    .home-page {
      display: block; } }
  .home-page header {
    grid-area: header; }
  .home-page main {
    grid-area: main; }
  .home-page footer {
    grid-area: footer; }

.home-page__header {
  background-image: linear-gradient(180deg, rgba(21, 21, 21, 0.6), rgba(21, 21, 21, 0));
  background-image: -webkit-linear-gradient(180deg, rgba(21, 21, 21, 0.6), rgba(21, 21, 21, 0));
  color: #fff;
  position: relative;
  width: 100%;
  margin-top: 20px;
  height: 70px; }
  .home-page__header-logo {
    left: 10px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 4px;
    margin-top: 4px; }
    @media (max-width: 360px) {
      .home-page__header-logo {
        font-size: 1.6rem; } }
  .home-page__header-search {
    position: absolute;
    right: 10px;
    top: 0;
    padding: 20px; }
    .home-page__header-search a {
      color: #fff;
      margin-left: 10px;
      text-decoration: none;
      display: -webkit-inline-box; }
    .home-page__header-search p {
      margin-right: 20px;
      letter-spacing: 3px;
      font-size: 1.2rem;
      text-transform: uppercase; }
      @media (max-width: 525px) {
        .home-page__header-search p {
          display: none; } }
    .home-page__header-search i {
      font-size: 2rem;
      vertical-align: bottom;
      margin-top: -3px; }
    .home-page__header-search__form {
      display: none;
      height: 100vh;
      z-index: 99;
      width: 100%;
      background: #151515;
      position: fixed;
      left: 0px;
      top: 0px;
      right: 0px;
      bottom: 0px; }
      .home-page__header-search__form h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-45%, -50%);
        font-size: 14rem;
        letter-spacing: 8vw;
        font-weight: bolder;
        color: rgba(255, 255, 255, 0.03); }
        @media (max-width: 768px) {
          .home-page__header-search__form h2 {
            font-size: 9rem;
            letter-spacing: 1vw; } }
      .home-page__header-search__form i {
        position: absolute;
        right: 15px;
        top: 0;
        padding: 20px;
        font-size: 1.5rem;
        margin-top: 20px; }
      .home-page__header-search__form form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%; }
        .home-page__header-search__form form input {
          width: 60%;
          text-align: center;
          padding: 10px;
          background: transparent;
          border: none;
          border-bottom: 3px solid rgba(255, 255, 255, 0.6);
          outline: none;
          color: #fff;
          font-size: 2rem;
          transition: .3s; }
          @media (max-width: 768px) {
            .home-page__header-search__form form input {
              width: 90%;
              font-size: 1.2rem; } }
          .home-page__header-search__form form input:focus {
            border-bottom: 3px solid #f24137; }
          .home-page__header-search__form form input::placeholder {
            color: #fff;
            font-family: 'Hind', sans-serif;
            font-size: 2rem; }
            @media (max-width: 768px) {
              .home-page__header-search__form form input::placeholder {
                font-size: 1.2rem; } }
          .home-page__header-search__form form input::-ms-input-placeholder {
            color: #fff;
            font-family: 'Hind', sans-serif;
            font-size: 2rem; }
          .home-page__header-search__form form input::-ms-input-placeholder {
            color: #fff;
            font-family: 'Hind', sans-serif;
            font-size: 2rem; }
  .home-page__header-menu {
    position: absolute;
    top: 0;
    left: 10px;
    padding: 20px;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: -webkit-inline-box;
    z-index: 9999; }
    .home-page__header-menu-text {
      margin-left: 20px;
      letter-spacing: 3px; }
      @media (max-width: 525px) {
        .home-page__header-menu-text {
          display: none; } }

.nav-bar {
  display: none;
  background: #151515;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1; }
  .nav-bar h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
    font-size: 25rem;
    letter-spacing: 10vw;
    color: rgba(255, 255, 255, 0.03); }
  .nav-bar__social {
    position: absolute;
    right: 60px;
    display: -webkit-inline-box;
    top: 35px; }
    .nav-bar__social-text {
      margin-top: 5px;
      margin-right: 30px;
      letter-spacing: 3px; }
      @media (max-width: 700px) {
        .nav-bar__social-text {
          display: none; } }
    .nav-bar__social-line {
      width: 150px;
      height: 3px;
      background: rgba(255, 255, 255, 0.7);
      margin: 15px 20px; }
      @media (max-width: 700px) {
        .nav-bar__social-line {
          display: none; } }
    .nav-bar__social-icons {
      position: relative;
      width: 150px;
      display: -webkit-inline-box; }
      .nav-bar__social-icons a {
        position: sticky !important;
        height: 38px;
        width: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.08);
        border-radius: 50%;
        text-decoration: none;
        color: #fff;
        margin-right: 10px;
        transition: .3s; }
      .nav-bar__social-icons a:after {
        margin: 0 !important; }
      .nav-bar__social-icons a:hover:after {
        width: 0px !important;
        border: none !important; }
  .nav-bar__menu {
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
    width: 50%;
    left: 10%;
    top: 20%;
    font-size: 3rem;
    text-transform: none; }
    @media (max-width: 525px) {
      .nav-bar__menu {
        font-size: 2rem; } }
    .nav-bar__menu li {
      margin-top: 20px;
      position: relative; }
    .nav-bar__menu a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      letter-spacing: 2px;
      position: absolute; }
    .nav-bar__menu a:after {
      content: "";
      display: block;
      margin: 0 auto;
      width: 0;
      border-bottom: 3px solid #f24137;
      transition: .3s; }
    .nav-bar__menu a:hover:after {
      content: "";
      display: block;
      margin: auto;
      width: 100%;
      border-bottom: 3px solid #f24137; }
  .nav-bar__category {
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
    width: 30%;
    right: 15%;
    top: 23%;
    font-size: 1.3rem; }
    @media (max-width: 525px) {
      .nav-bar__category {
        font-size: 1rem;
        right: 0; } }
    .nav-bar__category h3 {
      text-transform: none; }
    .nav-bar__category a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      letter-spacing: 2px;
      position: absolute; }
    .nav-bar__category a:after {
      content: "";
      display: block;
      margin: 0 auto;
      width: 0;
      border-bottom: 3px solid #f24137;
      transition: .3s; }
    .nav-bar__category a:hover:after {
      content: "";
      display: block;
      margin: auto;
      width: 100%;
      border-bottom: 3px solid #f24137; }

.header-hamburger {
  cursor: pointer;
  width: 32px;
  height: 21px;
  background: transparent;
  position: relative;
  outline: none;
  border: navajowhite;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  transition: .2s; }
  .header-hamburger:hover {
    transform: none; }
  .header-hamburger-first {
    width: 50%;
    height: 3px;
    color: white;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: width .2s; }
  .header-hamburger-second {
    width: 100%;
    height: 3px;
    color: white;
    background: white; }
  .header-hamburger-third {
    height: 3px;
    color: white;
    background: white;
    position: absolute;
    bottom: 0;
    width: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: width .2s; }

.header-hamburger:hover > .header-hamburger-first {
  width: 100%; }

.header-hamburger:hover > .header-hamburger-third {
  width: 100%; }

.twitter:hover {
  background-color: #55acee; }

.facebook:hover {
  background-color: #3b5999; }

.instagram:hover {
  background-color: #e4405f; }

.pin:hover {
  background-color: #bd081c; }

/*# sourceMappingURL=app.css.map */
