.banner-1 {
    background: url('../img/banner-1.jpg');
    background-position: center;
    background-size: cover;
}

.banner-2 {
    background: url('../img/banner-2.jpg');
    background-position: center;
    background-size: cover;
}

.banner-3 {
    background: url('../img/banner-3.jpg');
    background-position: center;
    background-size: cover;
}