.category-buttons {
    margin-left: 1%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 70px 70px;
    grid-gap: 15px 5px;
    position: relative;
    margin-bottom: 20px;
    justify-items: center;
    width: 97%;
    margin: auto;
    list-style: none;
    padding-bottom: 30px;
    @media (min-width: $breakpoint-mobile-big) and (max-width: $breakpoint-tablet) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 60px 60px;
        grid-gap: 15px 5px;
    }
    @media (min-width: $breakpoint-mobile-small-1) and (max-width: $breakpoint-mobile-big) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50px 50px 50px 50px;
        grid-gap: 10px 5px;
    }
    li {
        width: 95%;
        height: 100%;
        border: 1px solid grey;
        border-radius: 3px;
        overflow: hidden;
        position: relative;
        @media (min-width: $breakpoint-mobile-big) and (max-width: $breakpoint-tablet) {
            width: 90%;
        }
        &:hover {
            border: 1px solid $bg;
        }
        p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% -50%);
            transform: translate(-50%, -50%);
            color: $white;
            font-size: 1.3rem;
            z-index: -1;
            width: 95%;
            text-align: center;
            @media (min-width: $breakpoint-mobile-small-1) and (max-width: $breakpoint-mobile-big) {
                font-size: 1rem;
            }
            @media (min-width: $breakpoint-mobile-big) and (max-width: $breakpoint-tablet-small) {
                font-size: 1.1rem;
            }
        }
    }
    &__btn {
        cursor: pointer;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        background: transparent;
        background-size: cover;
        background-position: center;
        transition: all 0.7s ease;
        opacity: 0;
        backface-visibility: hidden;
        &.btn-1 {
            background-image: url('../img/fitness.jpg');
        }
        &.btn-2 {
            background-image: url('../img/nature.jpg');
        }
        &:hover {
            transform: scale(1.1);
            opacity: 1;
        }
    }
}

.all-post-btn {
    @include btn;
    width: 98%;
    margin: auto;
    margin-left: 1%;
    margin-bottom: 80px;
    padding: 25px 0;
    text-transform: uppercase;
    color: white;
    background: transparent;
    border: 1px solid white;
    &:hover {
        border: 1px solid $btn;
    }
    @media (max-width: $big-screen-1) {
        margin-bottom: 30px;
        width: 90%;
        margin-left: 5%;
        padding: 20px 0;
    }
}

.all-post-btn--single-page {
    @include btn;
    width: 70%;
    padding: 25px 0;
    text-transform: uppercase;
    color: white;
    background: transparent;
    border: 1px solid white;
    margin: 1% 15% 5% 15%;
    &:hover {
        border: 1px solid $btn;
    }
    @media (max-width: $big-screen-1) {
        margin-bottom: 30px;
        width: 90%;
        margin: 0 5% 10% 5%;
        padding: 20px 0;
    }
}

.all-post-category-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40px 40px 40px 40px;
    width: 80%;
    @media (min-width: $breakpoint-mobile-big) and (max-width: $breakpoint-tablet) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 60px 60px;
        grid-gap: 15px 5px;
    }
    @media (min-width: $breakpoint-mobile-small-1) and (max-width: $breakpoint-mobile-big) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 40px 40px 40px 40px;
        grid-gap: 10px 5px;
    }
    @media (max-width: $breakpoint-tablet-small+100px) {
        margin-top: -90vh;
    }
}

.last-two-inst-button {
    position: absolute;
    width: 100%;
    height: 100%;
    &--btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-45%, -50%);
        @include btn;
        padding: 15px 25px;
        transition: 225ms;
        transition-timing-function: ease-in;
        opacity: 0;
        @media (min-width: $big-screen-1) and (max-width: $big-screen + 200px) {
            padding: 10px 5px;
        }
    }
}

.about-content__description--btn {
    cursor: pointer;
    width: 80%;
    padding: 20px 0;
    margin: 0 10%;
    background: transparent;
    outline: none;
    border: 1px solid $dark-1;
    color: $dark;
    transition: 225ms;
    border-radius: 2px;
    @media (max-width: $breakpoint-mobile-big) {
        width: 90%;
        margin: 0 5%;
        padding: 15px 0;
    }
    &:hover {
        background-color: $bg;
        color: $white;
    }
}

.contact-content--btn {
    @include btn;
    background-color: $btn;
    color: $white;
    margin: 40px 40% 40px 40%;
    width: 20%;
    height: 46px;
    @media (min-width: $breakpoint-mobile-big) and (max-width: $big-screen-1) {
        width: 40%;
        margin: 30px 30% 30px 30%;
    }
    @media (max-width: $breakpoint-mobile-big) {
        width: 90%;
        margin: 30px 5% 30px 5%;
    }
}

.search-content__form-group--btn {
    width: 30%;
    @include btn;
    color: $white;
    background-color: $btn;
    position: relative;
}