.blog-post__card-form-content {
    @include center-absolute;
    height: 50%;
    width: 80%;
    text-align: center;
    @media (min-width: $breakpoint-mobile-big) and (max-width: $big-screen-1) {
        top: 30%;
    }
    @media (max-width: $breakpoint-mobile-big) {
        top: 35%;
    }
    &--tittle {
        color: white;
        font-size: 1.8rem;
        margin-bottom: 20px;
        @media (max-height: $height-breakpoint-rotate-mobile + 100px) {
            font-size: 1rem;
            margin-bottom: 0px;
        }
    }
    &--form-group {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        @media (max-width: $big-screen-1) {
            flex-direction: column;
        }
        @media (max-height: $height-breakpoint-rotate-mobile +100px) {
            margin-bottom: 0px;
        }
        &-input {
            width: 47%;
            height: 40px;
            padding-left: 2%;
            background: transparent;
            border: 1px solid grey;
            outline: none;
            border-radius: 3px;
            color: $white;
            font-family: 'Hind', sans-serif;
            @media (max-width: $big-screen-1) {
                width: 97%;
                margin-top: 10px;
            }
            @media (max-height: $height-breakpoint-rotate-mobile) {
                height: 25px;
            }
            &:focus {
                background-color: $white;
                color: $bg;
            }
        }
    }
    &--btn {
        @include btn;
        margin-top: 10px;
        width: 100%;
        height: 40px;
        background-color: $btn;
        color: $white;
        @media (max-height: $height-breakpoint-rotate-mobile) {
            height: 25px;
        }
    }
}

.home-page-inbox {
    position: relative;
    &__content {
        width: 70%;
        margin: auto;
        @media(min-width: $breakpoint-mobile-big) and (max-width: $big-screen-1) {
            width: 80%;
        }
        @media(max-width: $breakpoint-mobile-big) {
            width: 90%;
        }
        &--tittle {
            text-align: center;
            color: $white;
            letter-spacing: 3px;
            font-size: 1rem;
        }
        &--text {
            text-align: center;
            font-size: 1.8rem;
            color: $white;
            font-weight: 600;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }
        &--line {
            width: 120px;
            height: 2px;
            background-color: $snow;
            margin: auto;
            margin-bottom: 40px;
        }
        &--footer {
            text-align: center;
            margin-top: 15px;
            color: $text;
            a {
                color: $white;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &--form {
            display: flex;
            align-items: flex-end;
            width: 90%;
            margin: auto;
            justify-content: space-around;
            @media (max-width: $big-screen) {
                display: block;
            }
            p {
                display: flex;
                flex-direction: column;
                width: 26%;
                @media (max-width: $big-screen) {
                    width: 100%;
                    margin-top: 20px;
                }
                input {
                    height: 40px;
                    width: 100%;
                    padding-left: 4%;
                    background: transparent;
                    border: 1px solid grey;
                    outline: none;
                    border-radius: 3px;
                    color: $white;
                    font-family: 'Hind', sans-serif;
                    @media (max-width: $big-screen) {
                        width: 95%;
                    }
                    &:focus {
                        background-color: $white;
                        color: $bg;
                    }
                }
                label {
                    color: $white;
                    margin-left: 2%;
                }
            }
            &-btn {
                height: 42px;
                width: 30%;
                @include btn;
                color: $white;
                background-color: $btn;
                @media (max-width: $big-screen) {
                    width: 100%;
                    margin-top: 40px;
                    margin-left: 1px;
                }
            }
        }
    }
}

.aside-newsletter {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    &__form {
        width: 100%;
        p {
            position: relative;
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            input {
                padding: 10px 0;
                background: transparent;
                border: 1px solid grey;
                outline: none;
                border-radius: 3px;
                color: $white;
                font-family: 'Hind', sans-serif;
                &:focus {
                    background-color: $white;
                    color: $bg;
                }
            }
            label {
                color: $white;
            }
        }
        &--btn {
            @include btn;
            width: 100%;
            padding: 10px 0;
            background-color: $btn;
            color: $white;
        }
    }
}