.category-tab-carousel {
    font-size: 1rem;
    position: absolute;
    top: 20%;
    @include tab;
    @include horisontal-center;
    width: 50px;
    @media (min-width: $breakpoint-mobile-small) and (max-width: $breakpoint-tablet) {
        top: 20%;
    }
}