.blog-post__card-1 {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: $dark-1;
    grid-row-start: 1;
    grid-row-end: 3;
    @media (min-width: $breakpoint-mobile-big) and (max-width: $big-screen-1) {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 3;
    }
}

.blog-post__card-2 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
    @media (min-width: $breakpoint-mobile-big) and (max-width: $big-screen-1) {
        grid-column-start: 7;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 3;
    }
}

.blog-post__card-3 {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 5;
    background-color: $dark-1;
    @media (min-width: $breakpoint-mobile-big) and (max-width: $big-screen-1) {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 5;
    }
}

.blog-post__card-4 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 7;
    background-color: $dark-1;
    @media (min-width: $breakpoint-mobile-big) and (max-width: $big-screen-1) {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 5;
        grid-row-end: 7;
    }
}

.blog-post__card-form {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 5;
    grid-row-end: 7;
    background-color: $dark-1;
    @media (min-width: $breakpoint-mobile-big) and (max-width: $big-screen-1) {
        grid-column-start: 7;
        grid-column-end: 13;
        grid-row-start: 3;
        grid-row-end: 5;
    }
}

.blog-post__card-6 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 10;
    background-color: $dark-1;
    @media (min-width: $breakpoint-mobile-big) and (max-width: $big-screen-1) {
        grid-column-start: 7;
        grid-column-end: 13;
        grid-row-start: 5;
        grid-row-end: 7;
    }
}

.blog-post__card-7 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 10;
    background-color: $dark-1;
    @media (min-width: $breakpoint-mobile-big) and (max-width: $big-screen-1) {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 7;
        grid-row-end: 9;
    }
}

.blog-post__card-8 {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 7;
    grid-row-end: 10;
    background-color: $dark-1;
    @media (min-width: $breakpoint-mobile-big) and (max-width: $big-screen-1) {
        grid-column-start: 7;
        grid-column-end: 13;
        grid-row-start: 7;
        grid-row-end: 9;
    }
}

.blog-post__card-9 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 10;
    grid-row-end: 13;
    background-color: $dark-1;
    @media (min-width: $breakpoint-mobile-big) and (max-width: $big-screen-1) {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 9;
        grid-row-end: 11;
    }
}

.blog-post__card-10 {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 10;
    grid-row-end: 13;
    background-color: $dark-1;
    @media (min-width: $breakpoint-mobile-big) and (max-width: $big-screen-1) {
        grid-column-start: 7;
        grid-column-end: 13;
        grid-row-start: 9;
        grid-row-end: 11;
    }
}

.blog-post__card {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(21, 21, 21, 0.1);
    @media (max-width: $breakpoint-mobile-big) {
        height: 380px;
        width: 94%;
        margin: auto;
        margin-bottom: 20px;
    }
    &-content {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
        border-radius: 1px;
        &-img {
            position: absolute;
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
            transition: all 0.4s ease;
            z-index: -1;
        }
        &-description {
            position: relative;
            color: $white;
            text-align: center;
            position: absolute;
            width: 100%;
            bottom: 0;
            height: auto;
            transition: all 0.4s ease;
            @media (max-height: $height-breakpoint-rotate-mobile) {
                height: 87%;
            }
            &-tab {
                font-size: 1rem;
                position: absolute;
                top: 0%;
                width: 50px;
                @include tab;
                @include horisontal-center;
            }
            &-tittle {
                position: relative;
                margin: 45px auto 0px auto;
                width: 80%;
                font-size: 1.5rem;
                font-weight: bold;
                letter-spacing: 1px;
                @media (max-height: $height-breakpoint-rotate-mobile) {
                    font-size: 1rem;
                }
            }
            &-btn {
                @include btn;
                color: black;
                padding: 10px 15px;
                margin-top: 25px;
                opacity: 0;
                transition: all 0.4s ease;
                background-color: $white;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.blog-post__card-content:hover .blog-post__card-content-img {
    transform: scale(1.1);
}

.blog-post__card-content:hover .blog-post__card-content-description {
    transform: translateY(-40px);
}

.blog-post__card-content:hover .blog-post__card-content-description-btn {
    opacity: 1;
}