.NAME-OF-PAGE-With-sidebar {
    display: grid;
    grid-template-rows: 70px auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header""main main aside""footer footer footer";
    @media(max-width: 768px) {
        display: grid;
        grid-template-rows: 70px auto auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "header header header""main main aside""footer footer footer";
    }
    @media(max-width: 480px) {
        display: block;
    }
    header {
        grid-area: header;
    }
    main {
        grid-area: main;
    }
    aside {
        grid-area: aside;
    }
    footer {
        grid-area: footer;
    }
}

.home-page {
    @include grid-without-sidebar;
}

.blog-post {
    width: 98%;
    margin: auto;
    height: 250vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;
    margin-bottom: 30px;
    @media (max-width: $breakpoint-mobile-big) {
        display: block;
        height: auto;
    }
    @media (min-width: $breakpoint-mobile-big) and (max-width: $big-screen-1) {
        grid-template-rows: repeat(10, 1fr);
        height: 220vh;
    }
}

.single-post__blog-post {
    width: 80%;
    height: 120vh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    @media (min-width: $breakpoint-mobile-big) and (max-width: $big-screen-1) {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        height: 180vh;
        width: 90%;
    }
    @media (max-width: $breakpoint-mobile-big) {
        display: block;
        height: auto;
        width: 90%;
    }
}