.nav-bar {
  display: none;
  background: $bg;
  width: 100%;
  height: 100vh;
  @include modal-position;
  z-index: -1;
  &.open {
    display: block;
  }
  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
    font-size: 25rem;
    letter-spacing: 10vw;
    color: $search-text;
  }
  &__social {
    position: absolute;
    right: 60px;
    display: -webkit-inline-box;
    top: 16px;
    &-text {
      margin-top: 5px;
      margin-right: 30px;
      letter-spacing: 3px;
      @media (max-width: $big-screen-1) {
        display: none;
      }
    }
    &-line {
      width: 150px;
      height: 3px;
      background: $text;
      margin: 15px 20px;
      @media (max-width: $big-screen-1) {
        display: none;
      }
    }
    &-icons {
      position: relative;
      width: 150px;
      display: -webkit-inline-box;
      a {
        position: sticky !important;
        height: 38px;
        width: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $social-bg;
        border-radius: 50%;
        text-decoration: none;
        color: $white;
        margin-right: 10px;
        transition: 0.3s;
      }
      a:after {
        margin: 0 !important;
      }
      a:hover:after {
        width: 0px !important;
        border: none !important;
      }
    }
  }
  &__menu {
    @include nav-list;
    width: 50%;
    left: 10%;
    top: 10%;
    font-size: 3rem;
    text-transform: none;
    @media (max-width: $breakpoint-mobile-big) {
      font-size: 2rem;
    }
    li {
      margin-top: 20px;
      position: relative;
    }
    a {
      text-decoration: none;
      color: $white;
      font-weight: bold;
      letter-spacing: 2px;
      position: absolute;
    }
    a:after {
      @include underline-after;
    }
    a:hover:after {
      @include underline-after-hover;
    }
  }
  &__category {
    @include nav-list;
    width: 40%;
    right: 15%;
    top: 15%;
    font-size: 1.3rem;
    @media (max-width: $breakpoint-mobile-big) {
      font-size: 1rem;
      right: 0;
    }
    h3 {
      text-transform: none;
    }
    a {
      text-decoration: none;
      color: $white;
      font-weight: bold;
      letter-spacing: 2px;
      position: absolute;
    }
    a:after {
      @include underline-after;
    }
    a:hover:after {
      @include underline-after-hover;
    }
  }
}
