        @mixin nav-bg {
            background-image: linear-gradient(270deg, rgba(21, 21, 21, 0.6), rgba(21, 21, 21, 0));
            background-image: -webkit-linear-gradient(270deg, rgba(21, 21, 21, 0.6), rgba(21, 21, 21, 0));
        }
        
        @mixin modal-position {
            position: fixed;
            left: 0px;
            top: 0px;
            right: 0px;
            bottom: 0px;
        }
        
        @mixin center-absolute {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        @mixin horisontal-center {
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
        }
        
        @mixin vertical-center {
            left: 50%;
            right: 50%;
            margin-left: auto;
            margin-right: auto;
        }
        
        @mixin underline-after {
            content: "";
            display: block;
            margin: 0 auto;
            width: 0;
            border-bottom: 3px solid $btn;
            transition: .3s;
        }
        
        @mixin underline-after-hover {
            content: "";
            display: block;
            margin: auto;
            width: 100%;
            border-bottom: 3px solid $btn;
        }
        
        @mixin nav-list {
            position: absolute;
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 70%;
        }
        
        @mixin btn {
            font-family: 'Hind', sans-serif;
            letter-spacing: 2px;
            border-radius: 5px;
            font-weight: 500;
            border: none;
            outline: none;
            transition: .2s;
            cursor: pointer;
            &:hover {
                background-color: $btn-hover;
                color: $white;
            }
        }
        
        @mixin tab {
            padding: 1px 10px;
            color: $white;
            border: 1px solid $white;
            border-radius: 3px;
            text-align: center;
            font-weight: 200;
        }
        
        @mixin grid-without-sidebar {
            display: grid;
            grid-template-rows: 40px auto auto;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: "header header header""main main main""footer footer footer";
            @media(max-width: 768px) {
                display: grid;
                grid-template-rows: 50px auto auto;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-areas: "header header header""main main main""footer footer footer";
            }
            @media(max-width: 480px) {
                display: grid;
                grid-template-rows: 60px auto auto;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-areas: "header header header""main main main""footer footer footer";
            }
            header {
                grid-area: header;
            }
            main {
                grid-area: main;
            }
            footer {
                grid-area: footer;
            }
        }