$bg: #151515;
$social-grey: #242424;
$btn: #f24137;
$btn-hover: #d62e25;
$white: #fff;
$snow: snow;
$mark: #ffedc6;
$dark: #141414;
$dark-1: rgb(36, 36, 36);
$fb: #3b5999;
$twt: #55acee;
$inst: #e4405f;
$pin: #bd081c;
$text: rgba(255, 255, 255, 0.7);
$search-text: rgba(255, 255, 255, 0.03);
$border-forms-color: rgba(255, 255, 255, 0.25);
$modals-letter: rgba(255, 255, 255, 0.6);
$social-bg: rgba(255, 255, 255, 0.08);
$breakpoint-mobile-big: 525px;
$breakpoint-mobile-small-1: 320px;
$breakpoint-mobile-small: 360px;
$breakpoint-tablet-small: 700px;
$breakpoint-tablet: 768px;
$big-screen-1: 1000px;
$big-screen: 1220px;
$big-screen-2: 2560px;
$height-breakpoint-rotate-mobile: 500px;
