$bg:#151515;
$btn:#f24137;
$white:#fff;
$mark:#ffedc6;
$dark:#151515;
$fb:#3b5999;
$twt:#55acee;
$inst:#e4405f;
$pin:#bd081c;
$text:hsla(0, 0%, 100%, 0.7);
$search-text:hsla(0, 0%, 100%, 0.03);
$border-forms-color:hsla(0, 0%, 100%, 0.25);
$modals-letter: hsla(0, 0%, 100%, 0.6);
$social-bg:hsla(0, 0%, 100%, 0.08);
$breakpoint-mobile-big: 525px;
$breakpoint-mobile-small:360px;
$breakpoint-tablet-small:700px;
$breakpoint-tablet: 768px;