$bg:#151515;
$btn:#f24137;
$white:#fff;
$text:hsla(0, 0%, 100%, 0.6);
$search-text:hsla(0, 0%, 100%, 0.03);
$border-forms-color:hsla(0, 0%, 100%, 0.25);
$mark:#ffedc6;
$dark:#151515;
$breakpoint-mobile-big: 525px;
$breakpoint-mobile-small:360px;
$breakpoint-tablet: 768px;